// colors
$primary:         #D67157;
$secondary:       #F2F2F2; // bg color
$peach:           #FFBC8F;
$water:           #AECED0;
$navy:            #062C4E;
$mud:             #736B60;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "peach":      $peach,
  "water":      $water,
  "navy":       $navy,
  "mud":        $mud,
);

// fonts
// $headings-font-family: "Inter" !default;
