<div class="container py-32 px-16">
    <h3 class="py-8 mb-16 text-center fw-bold">Explore your flavor</h3>
    <!--  product list  -->
    <div class="row gx-2 gy-3 py-16">
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
      <div class="col-1 opacity-change">
        <div type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#product1">
          <img  class="img-fluid" src="https://bit.ly/3RSsRaC" alt="product">       
        </div>
      </div>
    </div>
    <p>ABV Low -------------------- > High</p>
  </div>

  <!-- Modal 元件 -->
  <div
    class="modal fade"
    id="product1"
    tabindex="-1"
    aria-labelledby="product1ModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">內容</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
          <button type="button" class="btn btn-primary">確定</button>
        </div>
      </div>
    </div>
  </div>