<footer class="footer">
  <div class="container">
    <div class="row footer-content-container">
      <div class="col footer-content-info">
        <div class="footer-content-info-text">
          <p>本網站僅用於練習和學習目的，並無任何商業營利意圖，細節請見<a href="about.html">詳細資訊</a>。</p>
          <p>Website by <a href="https://github.com/Celine-Lin">Celine-Lin</a> & <a href="https://github.com/Celine510">Celine510</a></p>
        </div>
        <a href="about.html">contact us</a>
        <p class="footer-warningMsg">禁止酒駕<br>酒後不開車<br>安全有保障</p>
      </div>
      <div class="col">
        <div class="footer-content-brandName">Let's Drink</div>
      </div>
    </div>
  </div>
</footer>