<div class="header-container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand navbar-brand-md" href="index.html">
      <!-- <img src="../assets/images/test-logo.jpg" alt="" srcset=""> -->
      <div class="fw-bold p4">Let's Drink</div>
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-main">
        <!-- <a class="nav-link active" aria-current="page" href="index.html">Home</a> -->
        <a class="nav-link" href="about.html">about</a>
        <a class="navbar-brand navbar-brand-lg" href="index.html">
          <!-- <img src="../assets/images/test-logo.jpg" alt="" srcset=""> -->
          <div class="fw-bold p4">Let's Drink</div>
        </a>
        <a class="nav-link" href="contact.html">contact</a>
      </div>
    </div>
  </nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">ABV filter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">fav ranking</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">form</a>
    </li>
  </ul>
</div>