<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <!-- BANNER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <div class="banner" id="banner">
      <div class="container banner-container">
        <div class="row">
          <div class="col">
            <h1>用啤酒串聯</h1>
            <h1>每個美好瞬間。</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Branch: all-products -->
    <%- include('./layout/all-products'); -%>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
